main{
  background: #f9f7f0;
  /*background-image: url("../img/r-neumaticos.png");*/
}

.seccion-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/photo-1645445522156-9ac06bc7a767.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.form{
  border-radius: 10px;
  width: 35%;
  backdrop-filter: blur(5px);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}


.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  
  
}
.gmap_canvas {
  overflow: hidden;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  
}
.gmap_iframe {
  height: 420px;
  
}

.inf-contacto{
  height: 100%;
  
}


  /* dispositivos sm */
  @media all and (max-width: 767px) {
    .form{
      width: 100%;
    }
    .inf-contacto{
      height: auto;
      padding: 5px;
    }
   
  }
  
  /* dispositivos md */
  @media all and (min-width: 768px) and (max-width: 991px) {
    .form{
      width: 50%;
    }
  }
  
  /* dispositivos grandes lg */
  
  @media all and (min-width: 992px) {
    
  }
  
