.bar-seco-1{
    width: 95%;
}

.bar-mojado-1{
    width: 70%
}

.bar-km-1{
    width: 85%
}

.bar-comfort-1{
    width: 95%
}
.bar-seco-2{
    width: 100%;
}

.bar-mojado-2{
    width: 80%
}

.bar-km-2{
    width: 75%
}

.bar-comfort-2{
    width: 95%
}
.bar-seco-3{
    width: 100%;
}

.bar-mojado-3{
    width: 90%
}

.bar-km-3{
    width: 95%
}

.bar-comfort-3{
    width: 85%
}
.bar-seco-4{
    width: 100%;
}

.bar-mojado-4{
    width: 90%
}

.bar-km-4{
    width: 95%
}

.bar-comfort-4{
    width: 85%
}

.bar-seco-5{
    width: 100%;
}

.bar-mojado-5{
    width: 95%
}

.bar-km-5{
    width: 95%
}

.bar-comfort-5{
    width: 85%
}

.bar-seco-6{
    width: 100%;
}

.bar-mojado-6{
    width: 95%
}

.bar-km-6{
    width: 95%
}

.bar-comfort-6{
    width: 85%
}

.iconoUsuario{
    font-size:3rem;
}
